* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore


https://my.bluehost.com/web-hosting/cplogin
user name: perfectlinesports.com
pw: @Plsp@2020